http://natsumidashboard.kro.kr, http://api.natsumidashboard.kro.kr {
	encode zstd gzip
	reverse_proxy 127.0.0.1:25901
	header {
		-Strict-Transport-Security
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

http://natsumi-game.kro.kr, http://api.natsumi-game.kro.kr {
	encode zstd gzip
	reverse_proxy 127.0.0.1:25772
	header {
		-Strict-Transport-Security
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
